@{
    ViewData["Title"] = "Repo";
}

<h1>Repo Page</h1>
<p>Welcome to the Repo page!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-block" asp-controller="Repo" asp-action="CreateRepo">Create Repo</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-block" asp-controller="Repo" asp-action="SyncRepo">Sync Repo</a>
        </div>
    </div>
</div>

